<ion-content>
  <ion-item lines="full">
    <ion-label>
      <p>Book name</p>
      <input [(ngModel)]="book.title" maxlength="30" [ngClass]="{'required':required.title}" (keyup)="required.title=false">
    </ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label>
      <p> Author name</p>
      <input [(ngModel)]="book.author" maxlength="30" [ngClass]="{'required':required.author}" (keyup)="required.author=false">
    </ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label>
      <p> Catalog Id</p>
      <input [(ngModel)]="book.isbn" type="tel" maxlength="10" [ngClass]="{'required':required.isbn}"(keyup)="required.isbn=false">
    </ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label>
      <p>Publish date</p>
      <ion-datetime (ionChange)="required.publishedDate=false" display-format="DD/MM/YYYY" cancel-text="cancel" done-text="OK" picker-format="DD/MM/YYYY" slot="start" [(ngModel)]="book.publishedDate" min="1950" [max]="maxDate" style="padding-start:0px;" [ngClass]="{'required':required.publishedDate}"></ion-datetime>
    </ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label>
      <p>Cover url</p>
      <input [(ngModel)]="book.thumbnailUrl" [ngClass]="{'required':required.thumbnailUrl}" (keyup)="required.thumbnailUrl=false">
    </ion-label>
  </ion-item>
  <ion-button style="margin-left: 16px;" (click)="dismiss(book)">submit</ion-button>
  <ion-button (click)="dismiss(null)">close</ion-button>
</ion-content>
